* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.trybewarts-header-logo {
  height: 80px;
  width: 80px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  height: 800px;
  padding: 30px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 450px;
  width: 450px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.family {
  flex: 1 0 25%;
}

.content {
  align-self: flex-start;
  display: flex;
  flex: 1 0 60%;
  flex-flow: column wrap;
}

#label-content {
  width: 100%;
}

#rateValue {
  display: flex;
  margin: 15px 0;
  align-items: center;
}

#rate-radios {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
}

#agreement-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

#agreement {
  margin-left: 7px;
}

footer {
  text-align: center;
}
