* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: flex-end;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.family {
  flex: 1 0 25%;
}

.content {
  align-self: flex-start;
  display: flex;
  flex: 1 0 60%;
  flex-flow: column wrap;
}

#label-content {
  width: 100%;
}
